body {
  color: #807d7c;
  font-size: 16px;
  font-family: Helvetica Neue,Helvetica,Arial,Microsoft JhengHei,PingFang TC,LiHei Pro,WenQuanYi Zen Hei,sans-serif;
  padding-top: 50px;
}

.navbar {
  background: #3b3634;
  box-shadow: 0 0 10px #ddd;
}
.navbar .navbar-brand {
  color: #fff;
  transition: all .3s ease;
}
.navbar .navbar-brand:hover {
  color: #8fbba2;
}
.navbar .navbar-nav > li {
  transition: all .3s ease;
}
.navbar .navbar-nav > li > a, .navbar .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar .navbar-nav > li:hover {
  background: #8fbba2;
}
.navbar .navbar-nav > li:hover > a, .navbar .navbar-nav > li:hover > a:focus {
  color: #fff;
}

.section {
  padding: 30px 0;
}
.section .title {
  color: #46413f;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

#photo .container {
  background-image: url("https://scontent.xx.fbcdn.net/hphotos-xap1/t31.0-8/c0.213.851.315/p851x315/904078_3384582629495_5227209_o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 15px;
}
#photo .container .title {
  color: #fff;
}
#photo .container .media-body {
  padding-top: 50px;
  text-shadow: 0 0 5px #333;
}
#photo .container .media-right img {
  border: solid 5px #fff;
  box-shadow: 0 0 5px #fff;
}

#skill {
  background: #8fbba2;
  color: #fff;
}
#skill .title {
  color: #fff;
}
#skill .skill-img {
  border: solid 2px #fff;
  border-radius: 50%;
  padding: 30px;
  position: relative;
  height: 262.5px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #skill .skill-img {
    height: 212.5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #skill .skill-img {
    height: 157.5px;
  }
}
@media (max-width: 767px) {
  #skill .skill-img {
    height: 42vw;
  }
}
#skill .skill-img:before {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
#skill .skill-img:hover:before {
  background: none;
}
#skill .skill-img img {
  border-radius: 50%;
}

#my-works .block {
  border-radius: 5px;
  padding: 15px;
  transition: all 1s ease;
}
#my-works .block img {
  box-shadow: 1px 1px 3px #999;
}
#my-works .block a {
  color: #8fbba2;
  transition: all 1s ease;
}
#my-works .block:hover {
  background: #b0ddce;
}
#my-works .block:hover a {
  color: #fff;
}

footer {
  background: #8fbba2;
  border-top: solid 1px #e7e7e7;
  box-shadow: 0 0 10px #ddd;
  color: #fff;
  padding: 5px;
}
